@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Roboto:wght@300&display=swap');
:root{
    --color-while: #fff;
    --color-blue-text: rgba(27, 78, 245, 0.795);
    --color--black: black;
    --color--text-second: rgba(41, 40, 40, 0.76);
    --color--orange: orange;
    --color--grey: rgba(201, 197, 197, 0.493);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.main{
    position: relative;
}
/* common */
.container{
    width: 85%;
}
.container-content{
    row-gap: 10px;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    justify-content: space-between;
    height: 42%;
}
.container-content h3{
    font-size: 13pt;
}
.center{
    text-align: center;
}
.orange-color{
    color: var(--color--orange);
}
.color-text-second{
    color: var(--color--text-second);
}
.color-text-first{
    color: var(--color-blue-text);
}
.strikethrough{
    width: 10%;
    height: 5px;
    background-color: var(--color--orange);
}
.justify{
    display: flex;
    justify-content: center;
}
.container-edit{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0;
    row-gap: 25px;
}
.color-while-bgr{
    background-color: var(--color-while);
}
.btn {
    border: none;
    background-color: var(--color-blue-text);
    height: 30px;
    width: 50%;
    border-radius: 6px;
}
.btn > a{
    text-decoration: none;
    color: var(--color-while);
}
.four{
    width: calc(100%/4);
}
/* header__contact */
.header__contact{
    display: flex;
    justify-content: center;
    height: 25px;
    width: 100%;
    background-color: var(--color--grey);
}
.header__contact .container{
    display: flex;
    align-items: center;
}
.header__contact .container i{
    margin-right: 8px;
    color: var(--color-blue-text);
}
.contact__hotline{
    width: 50%;
}
.contact__hotline span{
    color: var(--color-blue-text);
    font-weight: bold;
}
.header__contact__menu{
    display: flex;
    width: 50%;
    justify-content: space-between;
}
.header__contact__menu li{
    list-style: none;
}
.header__contact__menu li a{
    text-decoration: none;
    color: var(--color--text-second);
}
/* end */
/* Header */
.header{
    display: flex;
    justify-content: center;
    height: 65px;
    width: 100%;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo{
    width: 40%;
}
.header__logo a{
    text-decoration: none;
    font-size: 25pt;
    font-weight: bold;
    color: var(--color-blue-text);
}
.header__menu{
    display: flex;
    width: 60%;
    justify-content: space-between;
}
.header__menu li{
    list-style: none;
}
.header__menu li:hover a{
    transition: color 0.5s;
    color: var(--color-blue-text);
}
.header__menu li a{
    text-decoration: none;
    color: black;
    font-size: 13pt;
    font-weight: bold;
    text-transform: uppercase;
}
/* end */
/* slider */
.slider{
    width: 100%;
    position: relative;
}
.slider__content{
    position: absolute;
    top: 25%;
    left: 25%;
}
.slider__content p{
    color: var(--color-while);
    font-size: 15pt;
}
.slider__content h2{
    font-size: 25pt;
    color: var(--color-while);
    margin-top: 5px;

}
.slider img{
    width: 100%;
}
/* End */
/* Value brought */
.content__value{
    display: flex;
    justify-content: center;
}
.content__value .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content__value .container > img{
    margin-top: 20px;
    margin-bottom: 10px;
}
.content__value__items{
    display: flex;
    justify-content: space-between;
}
.content__value__items,.content__value__slide{
    margin: 20px 0;
}
.content__value__item{
    width: 23%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px;
}
.content__value__item img{
    border: 1px solid;
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-color: var(--color-blue-text);
    border-radius: 8px;
    padding: 15px 15px;
    box-shadow: -2px 5px 8px 7px rgb(0 0 0 / 8%);
}
.content__value__item h2{
    margin: 10px 0;
}
.content__value__item p{
    text-align: center;
}
.content__value__slide{
    background: url('../images/bg-2.jpg') top center / cover no-repeat;
    width: 80%;
    height: 200px;
    position: relative;
}
.content__value__slide h2, .content__value__slide p{
    color: var(--color-while);
    position: absolute;
    left: 40%;
    top: 55%;
}
.content__value__slide h2{
    font-size: 23pt;
    top: 30%;
    text-transform: uppercase;
}
.content__value__slide button{
    position: absolute;
    right: 1px;
    bottom: 0px;
    border: none;
    background-color: var(--color--orange);
    width: 120px;
    height: 30px;
}
.content__value__slide button a{
    text-decoration: none;
    color: var(--color-while);
}
/*end*/
/* Booking */
.content__booking{
    background-color: rgba(201, 197, 197, 0.493);
}
.content__booking a{
    text-decoration: none;
}
.content__booking__items,.content__program__items,.content__solution__items{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.content__booking__item{
    width: 23%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px;
    background-color: var(--color-while);
    border-radius: 8px;
    row-gap: 20px;
    padding: 10px 10px;
}
.content__booking__item:hover{
    box-shadow: -2px 5px 8px 7px rgb(0 0 0 / 8%);
}
.booking__option{
    width: 95%;
    display: flex;
    column-gap: 10px;
    box-shadow: -2px 5px 8px 7px rgb(0 0 0 / 8%);
    padding: 10px 10px;
    border-radius: 2%;
    align-items: center;
    cursor: pointer;
}
.booking__option:hover{
    box-shadow: inset 0px 0px 4px 0px;
}
.booking__option img{
    width: 15%;
    height: fit-content;
}
.booking__option h3{
    width: 75%;
}
.booking__option i{
    width: 10%;
}
.booking__content__sub{
    row-gap: 10px;
}
/* End */
/* content program*/
.content__program{
    background: url('../images/bg-3.jpg') top center / cover no-repeat;
}
.content__program__item,.content__solution__item{
    width: 23%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.content__program__item:hover{
    box-shadow: -2px 5px 8px 7px rgb(0 0 0 / 8%);
}
.content__program__item img{
    width: 100%;
    height: 55%;
}
/*End*/
/* content__solution */
.content__solution{
    background: url('../images/bg-4.jpg') top center / cover no-repeat;
}
.content__solution__items{
    margin: 30px 0;
}
.content__solution__item{
    padding: 0 10px;
    row-gap: 10px;
    position: relative;
    border: 2px solid;
    border-color: var(--color-while);
}
.content__solution__item:hover{
    box-shadow: -2px 5px 8px 7px rgb(0 0 0 / 8%);
}
.content__solution img{
    position: absolute;
    width: 45%;
    top: -30px;
}
.content__solution__item h3{
    margin-top: 40%;
}
/* end*/
/* Footer */
.footer{
    background-color: var(--color--black);
}
.footer .container{
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    row-gap: 50px;
}
.footer__info{
    width: 100%;
    display: flex;
    align-content: space-between;
    column-gap: 55px;
    flex-wrap: wrap;
}
.footer__career__info{
    display: flex;
    column-gap: 30px;
}
.footer__logo a{
    text-decoration: none;
    font-size: 25pt;
    font-weight: bold;
    color: var(--color-blue-text);
}
.footer__contact ul,.footer__career__info ul{
    margin-top: 10px;
    list-style: none;
}
.footer__contact ul li::before,.footer__career__info ul li::before{
    content: "\2022";
    color: var(--color-blue-text);
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
}
.footer__career h3, .footer__career ul li,.footer__contact h3,.footer__contact ul li,.footer__remote h3,.footer__sub h2{
    color: var(--color-while);
}
.footer__sub{
    border-top: 1px solid;
    border-color: var(--color-blue-text);
    position: relative;
    height: 100px;
}
.footer__sub h2{
    border: 1px solid;
    border-color: var(--color-blue-text);
    width: max-content;
    padding: 10px 10px;
    border-radius: 100px;
    background-color: var(--color--black);
    font-size: 13pt;
/* position-center */
    position: absolute;
    left: 50%;
    text-transform: uppercase;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
/* End */
.back-to-top{
    position: fixed;
    right: 28px;
    top: 87%;
    color: var(--color-while);
    background-color: var(--color-blue-text);
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22pt;
    border-radius: 50%;
    cursor: pointer;
    z-index: 20;
}
.back-to-top:hover{
    transition: background-color 0.3s;
    background-color: var(--color--orange);
}
/* Message */
.message{
    position: fixed;
    right: 10px;
    top: 40%;
    background-color: var(--color-blue-text);
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 10px 10px;
    border-radius: 40px;
    z-index: 20;
    box-shadow: 0px 0px 8px 7px rgb(0 0 0 / 8%);
}
.message a{
    text-decoration: none;
    color: var(--color-while);
    font-weight: bold;

}
/* end */
/* Responsive */
/* PC */
@media( min-width : 64em){
    .menu__phone{
        display: none;
    }
}
/* tablet */
@media( max-width:1024px){
    .menu__phone{
        display: none;
    }
    .container{
        width: 92%;
    }
    .contact__hotline {
        width: 35%;
    }
    .header__contact__menu {
        width: 65%;
    }
    .header__contact__menu li a {
        font-size: 10pt;
    }
    .header__menu li a {
        font-size: 10pt;
    }
    .header__logo {
        width: 20%;
    }
    .header__menu {
        width: 80%;
    }
    .content__value__slide {
        width: 95%;
    }
    .slider__content {
        top: 13%;
    }
    .content__value__items{
        flex-wrap: wrap;
    }
    .content__value__item {
        width: 47%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 10px;
    }
    .content__value__slide h2, .content__value__slide p {
        color: var(--color-while);
        position: absolute;
        left: 34%;
        top: 62%;
    }
    .content__value__slide h2 {
        font-size: 23pt;
        top: 22%;
        text-transform: uppercase;
    }
    .content__booking__items, .content__program__items, .content__solution__items {
        display: flex;
        width: 100%;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .content__booking__item {
        width: 47%;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 10px;
        background-color: var(--color-while);
        border-radius: 8px;
        row-gap: 20px;
        padding: 10px 10px;
    }
    .content__program__item, .content__solution__item {
        width: 47%;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .content__solution__item{
        margin-top: 50px;
    }
    .footer__info {
        column-gap: 50px;
    }
    .message{
        width: 118px;
    }
}
/* mobile */
@media( max-width:767px){
    .header__contact{
        display: none;
    }
    .header .header__menu{
        position: absolute;
        top: 65px;
        left: -200px;
        background-color: var(--color-blue-text);
        width: 200px;
        z-index: 10;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        padding: 20px 10px;
        height: 500px;
    }
    .header .header__menu > li a{
        color: var(--color-while);
        text-decoration: none;
        font-size: 15pt;
    }
    .header .menu__phone{
        display: block;
        position: absolute;
        right: 10px;
    }
    .menu__phone i{
        font-size: 20pt;
        color: var(--color-blue-text);
    }
    .slider {
        width: 100%;
        position: relative;
    }
    .slider img {
        width: 100%;
        height: 100px;
    }
    .slider__content {
        position: absolute;
        left: 25%;
    }
    .content__value__items{
        flex-wrap: wrap;
    }
    .content__value__item {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 10px;
    }
    .content__value__slide h2, .content__value__slide p {
        color: var(--color-while);
        position: absolute;
        left: 15%;
        top: 50%;
    }
    .content__value__slide h2 {
        font-size: 16pt;
        top: 20%;
        text-transform: uppercase;
    }
    .content__booking__items, .content__program__items, .content__solution__items {
        display: flex;
        width: 100%;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .content__booking__item {
        width: 100%;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 10px;
        background-color: var(--color-while);
        border-radius: 8px;
        row-gap: 20px;
        padding: 10px 10px;
    }
    .content__program__item, .content__solution__item {
        width: 100%;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .content__solution__item{
        margin-top: 50px;
    }
    .footer__career h3, .footer__career ul li,.footer__contact h3,.footer__contact ul li,.footer__remote h3,.footer__sub h2{
        color: var(--color-while);
    }
    .four{
        width: calc(100%/2);
    }
    .footer__info {
        column-gap: 0px;
        padding: 0 10px;
        row-gap: 10px;
    }
}
/* End */