*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    width: 100%;
    height: 75px;
    background-color: rgb(0, 88, 252);
    position: relative;
}
.header .menu__phone{
    display: none;
    position: absolute;
    right: 20px;
}
.header .header__logo{
    position: absolute;
    left: 20px;
    top: 25%;
    bottom: 25%;
}
.header .header__logo a{
    text-decoration: none;
    font-size: 25pt;
    font-weight: bold;
    color: aliceblue;
}
.header .header__menu{
    position: absolute;
    right: 20px;
}
.header .header__menu > li{
    display: inline-block;
    list-style: none;
    color: aliceblue;
    margin: 0 10px;
    line-height: 75px;
    font-size: 16pt;
    cursor: pointer;
    position: relative;
}
.header .header__menu > li a{
    color: aliceblue;
    text-decoration: none;
}
.header .header__menu > li:hover > a{
    color: aqua;
}
.header .header__menu > li > i{
    font-size: 10pt !important;
}
.menu__sub li{
    list-style: none;
    height: 50px;
    display: flex;
    align-items: center;
}
.menu__sub li:hover a{
    color: aqua;
}
.menu__sub a{
    font-size: 12pt;
    margin-left: 10px;
}
@media(min-width:768px){
    .header .header__menu > li:hover .menu__sub{
        display: block;
    }
    .menu__sub{
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: rgb(0, 88, 252);
        width: 100px;
    }
}
/* mobile phone */
@media( max-width:767px){
    .header .header__menu{
        position: absolute;
        top: 105%;
        left: -200px;
        background-color: rgb(0, 88, 252);
        width: 200px;
    }
    .header .header__menu > li{
        display: block;
        list-style: none;
        color: aliceblue;
        margin: 0 10px;
        line-height: 75px;
        font-size: 16pt;
        cursor: pointer;
        position: relative;
    }
    .header .header__menu > li a{
        color: aliceblue;
        text-decoration: none;
        margin-left: 10px;
    }
    .header .menu__phone{
        display: block;
        position: absolute;
        top: 35%;
    }
    .menu__phone i{
        font-size: 20pt;
        color: aliceblue;
    }
    .menu__sub{
        display: block;
    }
    .menu__sub li{
        list-style: none;
        height: 50px;
        display: flex;
        align-items: center;
    }
    .menu__sub li:hover a{
        color: aqua;
    }
    .menu__sub a{
        font-size: 14pt;
        margin-left: 20px !important;
    }
}